{% extends "base.html" %}
{%load static%}

{%block content%}
        <section class="py-28 relative">
          <div class="wrapper">
            <div class="relative max-w-[800px] mx-auto">
              <div
                class="contact-wrapper border p-10 sm:p-14 relative z-30 bg-white border-gray-100 dark:bg-dark-primary dark:border-gray-800"
              >
                <div class="text-center mb-12">
                  <h3
                    class="text-gray-800 font-bold dark:text-white text-3xl mb-2"
                  >
                    Need any Help? Get in touch 👋
                  </h3>
                  <p class="text-gray-500 dark:text-gray-400">
                    Open a ticket, we will get back to you ASAP
                  </p>
                </div>
                <form method="post">
                  {%csrf_token%}
                  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                    <div>
                      <label
                        for="firstName"
                        class="mb-1 block dark:text-gray-400 text-gray-700 font-medium text-sm"
                        >First Name</label
                      >
                      <input
                        type="text"
                        name = "first_name"
                        class="border w-full text-sm dark:text-white/90 dark:placeholder:text-white/30 dark:border-gray-700 text-gray-800 placeholder:text-sm placeholder:text-gray-400 focus:border-primary-300 dark:focus:border-primary-500 focus:outline-0 focus:ring-3 focus:ring-primary-300/20 text-left h-12 shadow-theme-xs border-gray-300 rounded-full px-5 py-2.5"
                        placeholder="Jhamse"
                      />
                    </div>
                    <div>
                      <label
                        for="lastName"
                        class="mb-1 block dark:text-gray-400 font-medium text-sm"
                        >Last Name</label
                      >
                      <input
                        type="text"
                        name = "last_name"
                        class="border w-full text-sm dark:text-white/90 dark:border-gray-700 text-gray-800 placeholder:text-sm placeholder:text-gray-400 focus:border-primary-300 dark:focus:border-primary-500 focus:outline-0 focus:ring-3 focus:ring-primary-300/20 text-left h-12 shadow-theme-xs dark:placeholder:text-white/30 border-gray-300 rounded-full px-5 py-2.5"
                        placeholder="Enter your last name"
                      />
                    </div>
                    <div class="col-span-full">
                      <label
                        for="lastName"
                        class="mb-1 block dark:text-gray-400 font-medium text-sm"
                        >Email address</label
                      >
                      <input
                        type="text"
                        name = "email"
                        class="border w-full text-sm dark:text-white/90 dark:border-gray-700 text-gray-800 placeholder:text-sm placeholder:text-gray-400 focus:border-primary-300 dark:focus:border-primary-500 focus:outline-0 focus:ring-3 focus:ring-primary-300/20 text-left h-12 shadow-theme-xs dark:placeholder:text-white/30 border-gray-300 rounded-full px-5 py-2.5"
                        placeholder="example@gmail.com"
                      />
                    </div>
                    <div class="col-span-full">
                      <label
                        for="message"
                        class="mb-1 block dark:text-gray-400 font-medium text-sm"
                        >Message</label
                      >
                      <textarea
                        type="text"
                        rows="6"
                        name = "text"
                        class="border w-full text-sm dark:text-white/90 dark:border-gray-700 text-gray-800 placeholder:text-sm placeholder:text-gray-400 dark:placeholder:text-white/30 focus:border-primary-300 dark:focus:border-primary-500 focus:outline-0 focus:ring-3 focus:ring-primary-300/20 text-left shadow-theme-xs resize-none border-gray-300 rounded-3xl px-5 py-4"
                        placeholder="Type your message"
                      ></textarea>
                    </div>
                    <div class="col-span-full">
                      <button
                        class="bg-primary-500 hover:bg-primary-600 transition h-12 py-3 px-6 w-full font-medium text-white text-sm rounded-full"
                      >
                        Send Message
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <span class="absolute -bottom-32 left-1/2 -translate-x-1/2 z-0">
            <svg
              width="930"
              height="760"
              viewBox="0 0 930 760"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g opacity="0.3" filter="url(#filter0_f_9248_10254)">
                <circle cx="380.335" cy="380.335" r="179.665" fill="#FF58D5" />
              </g>
              <g opacity="0.7" filter="url(#filter1_f_9248_10254)">
                <circle cx="549.665" cy="380.335" r="179.665" fill="#4E6EFF" />
              </g>
              <defs>
                <filter
                  id="filter0_f_9248_10254"
                  x="0.669922"
                  y="0.6698"
                  width="759.33"
                  height="759.33"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="BackgroundImageFix"
                    result="shape"
                  />
                  <feGaussianBlur
                    stdDeviation="100"
                    result="effect1_foregroundBlur_9248_10254"
                  />
                </filter>
                <filter
                  id="filter1_f_9248_10254"
                  x="170"
                  y="0.6698"
                  width="759.33"
                  height="759.33"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="BackgroundImageFix"
                    result="shape"
                  />
                  <feGaussianBlur
                    stdDeviation="100"
                    result="effect1_foregroundBlur_9248_10254"
                  />
                </filter>
              </defs>
            </svg>
          </span>
        </section>
{%endblock%}
 